*{
	box-sizing: border-box;
}
body{
	font-size: 1.5em;
	background-color: deepskyblue;
/*	min-height: 100vh;
	background: linear-gradient(red, yellow, green);
	background-repeat: no-repeat;
	*/
}
.box{
    width: 400px;
    height: 250px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.box-2{
	background: linear-gradient(360deg ,red,black,blue);
	/*background: linear-gradient(
     green,
     yellow,
     red
	);*/
}
.box-3{
	background: linear-gradient( 90deg, red 30%,black,blue 60%);
}
.box-4 {
	background: linear-gradient(
		90deg,
		hsl(0, 100%, 50%),     
		hsl(30, 100%, 50%),    
		hsl(60, 100%, 50%),    
		hsl(90, 100%, 50%),    
		hsl(120, 100%, 50%),   
		hsl(150, 100%, 50%),   
		hsl(180, 100%, 50%),   
		hsl(210, 100%, 50%),   
		hsl(240, 100%, 50%),   
		hsl(270, 100%, 50%),   
		hsl(300, 100%, 50%),   
		hsl(330, 100%, 50%),   
		hsl(360, 100%, 50%)    
	);
.box-5{
	background: linear-gradient( 270deg, red:30%,yellow,green);